rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Test mode rules for fast local debugging.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
